<div id="preload" class="skeleton">
  <div class="sk-navbar">
    <div class="sk-navbar-large sk-w-100">
      <div class="sk-flex sk-justify-content-between sk-w-100 sk-mx-3">
        <div class="sk-brand">
          <img width="32" height="32" class="sk-mr-1" data-src="https://media.cuisinierrebelle.com/brand-icon.jpg" src="https://media.cuisinierrebelle.com/brand-icon.jpg" lazy="loaded">
          <span>Cuisinier Rebelle</span>
        </div>
        <div class="sk-flex sk-align-items-center">
          <div class="sk-btn-sm text-body sk-mx-2">Se connecter</div>
          <div class="sk-btn-sm sk-btn-dark sk-mx-2">Créer un compte</div>
        </div>
      </div>
    </div>
    <div class="sk-navbar-small sk-w-100">
      <div class="sk-flex sk-w-100 sk-justify-content-between sk-align-items-center">
        <div class="sk-brand sk-flex sk-align-items-center">
          <img width="32" height="32" class="sk-mr-1" data-src="https://media.cuisinierrebelle.com/brand-icon.jpg" src="https://media.cuisinierrebelle.com/brand-icon.jpg" lazy="loaded">
          <span>Cuisinier Rebelle</span>
        </div>
        <div>
          <!-- <i class="material-icons md-24 sk-flex">menu</i> -->
        </div>
      </div>
      <div class="sk-mt-2 sk-input-group sk-flex sk-w-100">
        <input type="search" placeholder="Rechercher" class="sk-form-control">
      </div>
    </div>
  </div>
  <div class="sk-container">
    <div class="sk-root">
      <% 24.times do %>
        <div class="sk-card">
          <div class="sk-card-box"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="app">
  <app></app>
</div>
