body, html {
  margin: 0;
  padding: 0;
}

body {
  // min-height: calc(100vh - 104px);
  min-height: 100vh;
}

main, .cr-vh100 {
  min-height: calc(100vh - 168px);
  // min-height: calc(100vh - 104px);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

@media (min-width: 768px) {
  body {
    // min-height: calc(100vh - 58px);
  }

  main {
    min-height: calc(100vh - 168px);
    // min-height: calc(100vh - 58px);
  }
}
