<div class="container-fluid">
  <% if @bookmarks.size.positive? %>
    <%= render 'shared/recipes', recipes: @bookmarks %>
  <% else %>
  <div class="row py-3">
    <p class="mx-auto mt-5"><%= t('.no_bookmarks_html') %></p>
  </div>
  <% end %>
</div>
