<div class="container-fluid my-5">
  <% if @bookmarks.size.positive? %>
    <div class="row">
    <% @bookmarks.sort.each do |bookmark| %>
    <%= render "shared/card", recipe: bookmark.recipe %>
    <% end %>
    </div>
  <% else %>
    <p><%= t('.no_bookmarks') %>&nbsp;<i class="far fa-grin-beam-sweat"></i></p>
  <% end %>
</div>
