<div class="container my-5">
  <% if @bookmarks.size.positive? %>
    <ul class="list-unstyled">
      <% @bookmarks.sort.each do |bookmark| %>
        <li><a href="<%= recipe_path(bookmark.recipe) %>"><%= bookmark.recipe.title %> </a></li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('.no_bookmarks') %>&nbsp;<i class="far fa-grin-beam-sweat"></i></p>
  <% end %>
</div>
