// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-white: #F8F9FB;
$white: #FFFFFF;
$text-body: #000000;
$text-muted: #999999;
$text-primary: #428bca;
$text-primary-hover: #3071a9;
$text-success: #3c763d;
$text-success-hover: #2b542c;
