<p><%= t('.greeting', recipient: @user.first_name.capitalize) %></p>
<p><%= t('.reset_user_password_message') %></p>
<% url = "https://www.cuisinierrebelle.com/users/password/reset?token=#{@token}" %>
<a href="<%= url %>"><%= url %></a>
