.recipe .recipe-image {
  border-radius: 4px;
  width: 100%;
  height: calc(100vw * 9 / 16);
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

// .recipe img .recipe-image {
//   width: 100%;
//   height: auto;
// }
