.recipe .recipe-image {
  border-radius: 4px;
  min-height: 200px;
  // height: calc(100vw * 0.6);
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

// .recipe img .recipe-image {
//   width: 100%;
//   height: auto;
// }
