<%= form_tag index_index_path, method: :get do %>
  <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search") %>
  <%#= button_tag t(".search_btn_html"), class: "btn" %>
<div class="input-group mb-3">
  <%= text_field_tag :query, params[:query], class: "form-control border-secondary", placeholder: t(".search"), 'aria-label': "Recipient's username", 'aria-describedby': "search-btn" %>
  <div class="input-group-append">
    <%= button_tag t(".search_btn_html"), class: "btn btn-outline-secondary", id: "search-btn" %>
  </div>
</div>
<% end %>
