<%= form_tag index_index_path, method: :get do %>
  <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search") %>
  <%#= button_tag t(".search_btn_html"), class: "btn" %>
<div id="search" class="input-group">
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: t(".search"), 'aria-label': t(".search"), 'aria-describedby': "search-btn" %>
  <div class="input-group-append">
    <%#= button_tag t(".search_btn_html"), class: "btn", id: "search-btn" %>
  </div>
</div>
<% end %>
