<% if @recipes.count.positive? %>
<%= render 'shared/recipes', recipes: @recipes %>
<% else %>
<div class="container-fluid">
  <div class="py-3 d-flex align-items-center">
    <i class="material-icons md-24 mt-n1 pr-3">error</i>
    <div><%= t('.result_not_found', query: @query) %></div>
  </div>
  <div class="mt-3"><strong><%= t('.recent_recipes') %></strong></div>
  <div class="container-fluid p-0">
    <div id="recipes-cards">
      <div class="row">
        <%= render 'shared/recipes', recipes: @recipes %>
      </div>
    </div>
  </div>
</div>
<% end %>
