<div class="container mt-3 mb-5">
  <%= render 'shared/tags' %>
  <strong><%= t('.recent_recipes') %></strong><br>
  <ul class="list-unstyled">
    <% @recipes.order('created_at DESC').each do |recipe| %>
      <li><a href="<%= recipe_path(recipe) %>"><%= recipe.title %> </a></li>
    <% end %>
  </ul>
</div>
