liked = document.querySelector("[data-like-recipe='<%= @recipe.id %>']");
faHeart = document.querySelector(".fa-heart-<%= @recipe.id %>");

likes_count = `<span class="text-muted font-weight-lighter ml-1" style="margin-bottom: -2px;"><%= @recipe.likes.count %></span>`;
heart = `<i class="material-icons md-18">favorite_border</i>`;
heartFill = `<i class="material-icons md-18">favorite</i>`;

fade = (element) => {
    var op = 1;  // initial opacity
    var timer = setInterval(function () {
        if (op <= 0.1){
          clearInterval(timer);
          element.style.display = 'none';
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
}

unfade = (element) => {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
}

if(<%= @liked %>) {
  liked.innerHTML = `${heartFill}${likes_count}`;
  if(faHeart != null) {
    faHeart.classList.remove('d-none');
    unfade(faHeart);
    setTimeout(() => {
      fade(faHeart);
      setTimeout(() => {faHeart.classList.add('d-none')}, 500);
    }, 500);
  }
} else {
  liked.innerHTML = `${heart}${likes_count}`;
}
