<div class="container-fluid">
  <div id="recipes-cards">
    <div id="root" class="row py-3" data-bookmarks-count="<%= @bookmarks.count %>">
    <% @recipes.order('created_at DESC')[0...10].each do |recipe| %>
      <%= render 'shared/card', recipe: recipe %>
    <% end %>
    </div>
  </div>
</div>
