<div class="banner d-flex justify-content-start pt-3 pt-md-5 pt-lg-0 justify-content-lg-center align-items-center flex-column">
  <div id="banner-cta-box">
    <div class="h1 text-white">#cuisinierRebelle</div>
    <div class="lead text-white text-center"><%= t('.banner_subtitle') %></div>
  </div>
  <div id="banner-cta-box-btn" class="d-flex mt-3 justify-content-around flex-column flex-md-row">
    <a class="btn btn-warning order-1 order-md-0 mt-3 mt-md-0" href="#recipes-cards" role="button"><%= t(".recipes") %>&nbsp;<i class="fas fa-utensils"></i></a>
    <!-- <a class="btn btn-danger order-0 order-md-1" href="https://www.youtube.com/c/yannicklescuretv?sub_confirmation=1" target="_blank" role="button"><%= t(".videos") %>&nbsp;<i class="fab fa-youtube"></i></a> -->
  </div>
</div>
