<div
  id="banner-skeleton"
  class="banner-background banner-height d-flex justify-content-center justify-content-md-center align-items-center flex-column mb-n5"
  style="margin-top: 58px;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= @unsplash.urls.raw %>&w=1920&h=981&fm=webp');"
></div>
