<div class="banner d-flex justify-content-center align-items-center flex-column">
  <div class="h1 text-white">#cuisinierRebelle</div>
  <div class="lead text-white">Recettes de cuisine et autres choses</div>
  <div class="row mt-3 w-25 justify-content-around">
    <a class="btn btn-warning" href="#recipes-cards" role="button">Recettes&nbsp;<i class="fas fa-utensils"></i></a>
    <a class="btn btn-danger" href="https://www.youtube.com/c/yannicklescuretv?sub_confirmation=1" target="_blank" role="button">Videos&nbsp;<i class="fab fa-youtube"></i></a>
  </div>
</div>
