<div class="card border-0 mb-3">
  <div class="d-flex">
    <div class="d-block" style="height: 64px;">
      <%= image_tag recipe.photo.url(:preview), secure: true, height: '64px', width: '64px', class: 'rounded', style: "object-fit: cover;" %>
    </div>
    <div class="ml-3 d-flex flex-column">
      <%= link_to t(".recipe", title: !client.device_type.nil? && client.device_type.match(/desktop/) ? recipe.title.upcase.truncate(50) : recipe.title.upcase.truncate(30)), recipe_path(recipe), class: 'text-body stretched-link' %>
      <div class="card-text text-body font-weight-lighter" style="font-size: 90%"><%= t(".name", name: !client.device_type.nil? && client.device_type.match(/desktop/) ? recipe.description.truncate(100) : recipe.description.truncate(75)) %></div>
    </div>
  </div>
</div>
