<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Cuisinier Rebelle, recettes sociales!</title>
<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<link rel="canonical" href="/" />
<link rel="alternate" hreflang="fr" href="/fr" />
<link rel="alternate" hreflang="es" href="/es" />
<%= stylesheet_link_tag 'application', media: 'all' %>
<%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
