<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Cuisinier Rebelle, recettes sociales!</title>
<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<!-- Favicons -->
<link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/favicon.ico">
<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#343940">
<!-- Facebook -->
<meta property="og:title" content="Cuisinier Rebelle, recettes sociales!" />
<meta property="og:description" content="Recettes de cuisine et autres choses" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:site_name" content="Cuisinier Rebelle" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.cuisinierrebelle.com/" />
<meta property="og:image" content="https://source.unsplash.com/1600x900/?cooking,food" />
<!-- Twitter -->
<meta name="twitter:card card-custom" content="summary_large_image">
<meta name="twitter:site" content="@cuisinierrebelle">
<meta name="twitter:creator" content="@cuisinierrebelle">
<meta name="twitter:title" content="Cuisinier Rebelle, recettes sociales!">
<meta name="twitter:description" content="Recettes de cuisine et autres choses">
<meta name="twitter:image" content="https://source.unsplash.com/1600x900/?cooking,food">
<!-- Languages for Google SEO -->
<link rel="canonical" href="/" />
<link rel="alternate" hreflang="fr" href="/fr" />
<link rel="alternate" hreflang="es" href="/es" />
<%= stylesheet_link_tag 'application', media: 'all' %>
<%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
