<div class="d-none d-md-block">
  <%= render 'shared/navbar-large' %>
</div>
<div class="d-md-none">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
    <%= link_to "/", class: "navbar-brand" do %>
      <%#= image_tag "https://raw.githubusercontent.com/yannicklescure/cv/master/profile_avatar.jpg", class: "rounded-circle" %>
      <i class="fas fa-utensils"></i>&nbsp;Cuisinier Rebelle
    <% end %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light text-muted" data-toggle="modal" data-target="#modalMenuCenter">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  </div>
  <%= render 'shared/navbar-small' %>
</div>
