<div class="container-fluid">
  <div id="recipes-cards">
    <div id="root" class="row py-3" data-bookmarks-count="<%= @bookmarks.count %>" data-recipes="<%= @recipes.count %>"></div>
  </div>
</div>
