<div class="container-fluid">
  <div id="recipes-cards">
    <%= render 'shared/skeleton', recipes: @recipes %>
    <div id="root" class="d-flex flex-wrap justify-content-start p-md-2" data-bookmarks-count="<%= @bookmarks.count %>" data-recipes="<%= @recipes.count %>"></div>
  </div>
</div>
