<div class="d-flex">
<% count = 1 %>
<% tags_list_max = 10 %>
<% most_used_count = ActsAsTaggableOn::Tag.most_used.count %>
<% tags_list_max = most_used_count if most_used_count < tags_list_max %>
<%#= tags_list_max %>
<% ActsAsTaggableOn::Tag.most_used(tags_list_max).to_a.each do |tag| %>
  <%#= "##{tag.to_s.gsub(' ', '')}" %>
  <%= link_to "#{tag.to_s.capitalize}", tagged_path(tag: tag.to_s), class: 'text-body m-0' %><%= raw("&comma;&nbsp;") if count < tags_list_max %>
  <% count += 1 %>
<% end %>
</p>
</div>
