<div id="device"></div>
<% unless user_signed_in? %>
  <%= render 'shared/banner' %>
<% end %>
<div class="container-fluid">
  <div id="recipes-cards" class="row py-3">
    <div id="root" data-recipes="<%= @recipes.to_json %>"></div>
    <%# @recipes.order('created_at DESC').each do |recipe| %>
    <%#= render 'shared/card', recipe: recipe %>
    <%# end %>
  </div>
</div>
<!-- stretched-link -->
