<div class="container mt-3 mb-5">
  <% if !client.device_type.nil? && client.device_type.match(/desktop/) %>
    <% if user_signed_in? %>
      <%= link_to t('.edit'), edit_page_path(@page) if current_user.admin || current_user.moderator %>
    <% end %>
  <% end %>
  <% renderer = Redcarpet::Render::HTML.new() %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions = {autolink: true, tables: true, footnotes: true}) %>
  <%# markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, footnotes: true, autolink: true, tables: true) %>
  <%= markdown.render(@page.content).html_safe %>
</div>
