<div class="tools">
  <div class="d-flex flex-column align-items-center mt-5 mb-3">
    <h5 class="d-none d-print-block">&#8766;&nbsp;Cusinierrebelle.com&nbsp;&#8766;</h5>
    <h1><%= t('.tools') %></h1>
    <div id="tools-alert" class="row justify-content-center p-3">
      <div class="col col-md-6">
        <div class="card pb-2" style="background-color: #fef3cd; color: #7e6a2f;">
          <div class="d-flex justify-content-between align-items-center">
            <div class="px-3 font-weight-bold"><%= t('.disclaimer') %></div>
            <div id="tools-alert-btn" class="btn btn-sm"><i class="fas fa-times"></i></div>
          </div>
          <div class="d-flex flex-column">
            <div class="px-3"><%= t('.disclaimer_html') %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-3">
    <% @products.each do |product| %>
      <%= render 'shared/card-product', product: product %>
    <% end %>
  </div>
</div>
