<div class="container-fluid my-5">
  <div class="h1 text-center"><%= t('.followers') %></div>
  <% @followers.sort_by { |date| date.created_at }.reverse.each do |follower| %>
    <%= render follower %>
  <% end %>
</div>
