//= require material_icons

// Graphical variables
@import "config/index";

// External libraries
@import "~bootstrap/scss/bootstrap";

// @import "~bootstrap/scss/functions.scss";
// @import "~bootstrap/scss/variables.scss";
// @import "~bootstrap/scss/mixins.scss";

// @import "~bootstrap/scss/reboot.scss";
// @import "~bootstrap/scss/type.scss";
// @import "~bootstrap/scss/images.scss";
// @import "~bootstrap/scss/code.scss";
// @import "~bootstrap/scss/grid.scss";

// Your CSS partials
// @import "skeleton/index";
@import "components/index";
@import "pages/index";
