.banner {
  min-height: calc(100vh - 66px);
  margin-top: 66px;
  background: url('https://yannicklescure.com/media/pictures/background.jpg');
  background-size: cover;
  background-position: 25% center;
}
