.close {
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 100;
}

#new-recipe-btn {
  // position: fixed;
  // top: 60px;
  // right: 80px;
  // height: 100px;
  // z-index: 999;
  // display: none;
}

.new-recipe-btn {
  // border: none;
  // border-radius: 50%;
  // bottom: 44px;
  // cursor: pointer;
  // // display: none;
  // font-size: 1.5em;
  // padding: .4em .7em;
  // position: fixed;
  // right: 30px;
  // z-index: 99;
  // transition: .3s;
  // background-color: red;
}

.new-recipe-btn:focus {
  // border: 1px solid transparent;
  // outline: none;
}

.new-recipe-btn:hover {
  // background-color: #555;
}

.custom-switch .custom-control-label::before {
  border: none;
  background-color: #cdcacc;
  color: white;
}

.custom-switch .custom-control-label::after {
  background-color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #343a40;
}

.cr-p-6 {
  padding: 6px;
}
