.navbar-cuisinierrebelle {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background: white;

  .navbar-collapse {
    // flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .navbar-brand {
    padding-bottom: 8px;
  }

  a.nav-link {
    color: red;
    display: flex;
    align-items: center;
  }
}

.admin {
  .nav-item {
    color: $text-muted;
  }

  a {
    text-decoration: none;
  }
  .nav-item:hover {
    color: $text-body;
  }

  .nav-item.active {
    color: $text-body;
  }
}
