.navbar-cuisinierrebelle {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background: white;
  min-height: 113px;

  .navbar-collapse {
    // flex-grow: 0;
  }

  .navbar-brand img {
    width: 32px;
  }

  .navbar-brand {
    padding-bottom: 8px;
  }

  a.nav-link {
    color: red;
    display: flex;
    align-items: center;
  }
}

.admin {
  .nav-item {
    color: $text-muted;
  }

  a {
    text-decoration: none;
  }
  .nav-item:hover {
    color: $text-body;
  }

  .nav-item.active {
    color: $text-body;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-cuisinierrebelle {
    min-height: 113px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-cuisinierrebelle {
    min-height: 59px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
