.reply-photo-preview {
  width: 64px;
  height: 64px;
  // background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
