.btn-bookmark {
  margin-bottom: -5px;
}

.btn-comment {
  margin-top: 2px;
}

.btn-like {
  margin-bottom: -5px;
}

.btn-print {
  margin-bottom: 3px;
}

.btn-share {
  margin-bottom: 2px;
}

.btn-visit {
  margin-bottom: 2px;
}
