<%= render 'shared/user-banner', user: @user %>
<div class="container mb-5">
  <div class="p-3">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloremque maiores consequatur qui, nesciunt voluptas veniam porro, doloribus expedita ipsa sequi, pariatur nihil nulla, possimus obcaecati culpa iure aspernatur excepturi.
  </div>
  <div class="d-flex flex-column order-1 flex-grow-1 flex-md-grow-0 justify-content-center align-items-start">
    <div class="btn btn-sm d-flex align-items-center">
      <span style="display:block;width: 32px;"><i class="fab fa-facebook" style="color: #4367b1;font-size: 18px;margin-top: 2px;"></i></span>
       Facebook
    </div>
    <div class="btn btn-sm d-flex align-items-center">
      <span style="display:block;width: 32px;"><i class="fab fa-instagram" style="color: #ed4956;font-size: 18px;margin-top: 2px;"></i></span>
       Instagram
    </div>
    <div class="btn btn-sm d-flex align-items-center">
      <span style="display:block;width: 32px;"><i class="fab fa-twitter" style="color: #2ea1f1;font-size: 18px;margin-top: 2px;"></i></span>
       Twitter
    </div>
    <div class="btn btn-sm d-flex align-items-center">
      <span style="display:block;width: 32px;"><i class="fab fa-youtube" style="color: #f30f05;font-size: 18px;margin-top: 2px;"></i></span>
       YouTube
    </div>
  </div>
</div>
